<div id="wrap">
    <form action="" autocomplete="off">
        <input [(ngModel)]="searchText" id="search" name="search" type="text" placeholder="Buscar libro..." (keyup)="fetchBooks()"><input id="search_submit"
            value="Rechercher" type="submit">
    </form>
</div>