<div class="book-list">
  <div class="card" *ngFor="let book of books">
    <div class="card-title">
      <div>{{ book.title }}</div>
    </div>
    <div class="card-content">
      <ul>
        <li>
          <b>Año:</b> {{ book.year }}
        </li>
        <li>
          <b>Género:</b> {{ book.genre }}
        </li>
        <li>
          <b>No. Páginas:</b> {{ book.pageNumber }} páginas
        </li>
        <li>
          <b>Editorial:</b> {{ book.publisher }}
        </li>
      </ul>
      <p>{{book.author}}</p>
    </div>
  </div>
</div>