.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    padding: 20px;
    color: #586875;
    background-color: #f4f7f7;
    box-shadow: 0 10px 20px #0006;
    margin: 10px;
    inline-size: 250px; 
    overflow: hidden;
}

.card-title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #bdd6d2;
    font-size: 1.5rem;
}

.card-content ul {
    margin: 15px 0;
    padding-left: 30px;
    line-height: 1.5rem;
    list-style-type: square;
}

.card-content p {
    margin: 0 -20px -20px;
    padding: 15px;
    background-color: #bdd6d2;
    font-weight: bold;
    text-align: center;
}