@import url('https://fonts.googleapis.com/css?family=Capriola|Caveat|Montserrat:400,500');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7f7;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
}